In [1]:
# Import packages
import pandas as pd
import numpy as np

In [2]:
# Load dataset into dataframe
tik_data = pd.read_csv("tiktok_dataset.csv")
tik_data

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,NaN,7578226840,21,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19378,19379,NaN,6079236179,53,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19379,19380,NaN,2565539685,10,NaN,verified,under review,NaN,NaN,NaN,NaN,NaN
19380,19381,NaN,2969178540,24,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19381,19382,NaN,8132759688,13,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN

In [3]:
# Display and examine the first ten rows of the dataframe
tik_data.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

In [5]:
#Calculate total row and column count
tik_data.shape

(19382, 12)

In [6]:
# Get summary info
tik_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [7]:
#for null claim_status, their respective transcript, video view count, 
# like count, share count, download count, and comment count are also null
tik_data[tik_data['claim_status'].isnull()]

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
19084,19085,NaN,4380513697,39,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19085,19086,NaN,8352130892,60,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19086,19087,NaN,4443076562,25,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19087,19088,NaN,8328300333,7,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19088,19089,NaN,3968729520,8,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,NaN,7578226840,21,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19378,19379,NaN,6079236179,53,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19379,19380,NaN,2565539685,10,NaN,verified,under review,NaN,NaN,NaN,NaN,NaN
19380,19381,NaN,2969178540,24,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19381,19382,NaN,8132759688,13,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN

In [8]:
# Get summary statistics
tik_data.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [9]:
# What are the different values for claim status and how many of each are in the data?
tik_data['claim_status'].unique() #Distinct claim status values
tik_data['claim_status'].value_counts(dropna = False)

claim_status
claim      9608
opinion    9476
NaN         298
Name: count, dtype: int64

**Observation of values shown:** The counts of each claim status are nearly balanced. There are 2 distinct values recorded for claim status: claim, opinion. There are a small amount of null entry records recorded, which can indicate a claim being submitted without an actual response.

In [10]:
# What is the average view count of videos with "claim" status?
claim_mean = tik_data[tik_data['claim_status'] == 'claim']['video_view_count'].mean()
claim_median = tik_data[tik_data['claim_status'] == 'claim']['video_view_count'].median()
print(f'The mean view count of videos with "claim" is: {claim_mean:.2f}')
print(f'The median view count of videos with "claim" is: {claim_median:.2f}')

The mean view count of videos with "claim" is: 501029.45
The median view count of videos with "claim" is: 501555.00

In [11]:
# What is the average view count of videos with "opinion" status?
opinion_mean = tik_data[tik_data['claim_status'] == 'opinion']['video_view_count'].mean()
opinion_median = tik_data[tik_data['claim_status'] == 'opinion']['video_view_count'].median()
print(f'The mean view count of videos with "opinion" is: {opinion_mean:.2f}')
print(f'The median view count of videos with "opinion" is: {opinion_median:.2f}')

The mean view count of videos with "opinion" is: 4956.43
The median view count of videos with "opinion" is: 4953.00

**Observation of Mean and Median within each claim category:** The mean and the median within each claim category are close to one another, but there is a vast discrepancy between view counts for videos labeled as claims and videos labeled as opinions.

In [12]:
# Get counts for each group combination of claim status and author ban status
tik_data.groupby(['claim_status', 'author_ban_status']).count()[['#']]

                                   #
claim_status author_ban_status
claim        active             6566
             banned             1439
             under review       1603
opinion      active             8817
             banned              196
             under review        463

There are more claim videos with banned authors than there are opinion videos with banned authors. 
This could mean:
* Claim videos are more strictly policed than opinion videos
* Authors must comply with a stricter set of rules if they post a claim than if they post an opinion

It should be noted that there's no way of knowing if claim videos are inherently more likely than opinion videos to result in author bans, or if authors who post claim videos are more likely to post videos that violate terms of service.

Finally, while you can use this data to draw conclusions about banned/active authors, you cannot draw conclusions about banned videos. There's no way of determining whether a particular video _caused_ the ban, and banned authors could have posted videos that complied with the terms of service.

In [15]:
# What's the median video share count of each author ban status?
tik_data.groupby(['author_ban_status']).median(numeric_only=True)[['video_share_count']]

                   video_share_count
author_ban_status
active                         437.0
banned                       14468.0
under review                  9444.0

Banned authors have a median share count that's 33 times the median share count of active authors! Explore this in more depth.

In [16]:
### group the data by author_ban_status, then get the count, mean, 
# and median of each of the following columns: video_view_count, video_like_count, video_share_count
tik_data.groupby(['author_ban_status']).agg({
    'video_share_count': ['count','mean','median'],
    'video_like_count': ['count','mean', 'median'],
    'video_view_count': ['count','mean', 'median']
})

                  video_share_count                        video_like_count  \
                              count          mean   median            count
author_ban_status
active                        15383  14111.466164    437.0            15383
banned                         1635  29998.942508  14468.0             1635
under review                   2066  25774.696999   9444.0             2066

                                           video_view_count                 \
                            mean    median            count           mean
author_ban_status
active              71036.533836    2222.0            15383  215927.039524
banned             153017.236697  105573.0             1635  445845.439144
under review       128718.050339   71204.5             2066  392204.836399


                     median
author_ban_status
active               8616.0
banned             448201.0
under review       365245.5

**The number of views, likes, and shares for banned authors compared to active authors:**

* Banned authors and those under review get far more views, likes, and shares than active authors.
* In most groups, the mean is much greater than the median, which indicates that there are some videos with very high engagement counts.

In [17]:
#Create three new columns to help better understand engagement rates

In [18]:
#likes per view column
tik_data['likes_per_view'] = tik_data['video_like_count']/tik_data['video_view_count']
#comments per view column
tik_data['comments_per_view'] = tik_data['video_comment_count']/tik_data['video_view_count']
#Shares per view column
tik_data['shares_per_view'] =tik_data['video_share_count']/tik_data['video_view_count']

In [19]:
tik_data[['video_view_count','likes_per_view','comments_per_view', 'shares_per_view']].head()

   video_view_count  likes_per_view  comments_per_view  shares_per_view
0          343296.0        0.056584           0.000000         0.000702
1          140877.0        0.549096           0.004855         0.135111
2          902185.0        0.108282           0.000365         0.003168
3          437506.0        0.548459           0.001335         0.079569
4           56167.0        0.622910           0.002706         0.073175

In [20]:
#Compile count, mean, and median for new columns based on claim status and author ban status
tik_data.groupby(['claim_status','author_ban_status']).agg({
    'likes_per_view': ['count', 'mean', 'median'],
    'comments_per_view': ['count', 'mean', 'median'],
    'shares_per_view': ['count', 'mean', 'median']    
})

                               likes_per_view                      \
                                        count      mean    median
claim_status author_ban_status
claim        active                      6566  0.329542  0.326538
             banned                      1439  0.345071  0.358909
             under review                1603  0.327997  0.320867
opinion      active                      8817  0.219744  0.218330
             banned                       196  0.206868  0.198483
             under review                 463  0.226394  0.228051

                               comments_per_view                      \
                                           count      mean    median
claim_status author_ban_status
claim        active                         6566  0.001393  0.000776
             banned                         1439  0.001377  0.000746
             under review                   1603  0.001367  0.000789
opinion      active                         8817  0.000517  0.000252
             banned                          196  0.000434  0.000193
             under review                    463  0.000536  0.000293

                               shares_per_view
                                         count      mean    median
claim_status author_ban_status
claim        active                       6566  0.065456  0.049279
             banned                       1439  0.067893  0.051606
             under review                 1603  0.065733  0.049967
opinion      active                       8817  0.043729  0.032405
             banned                        196  0.040531  0.030728
             under review                  463  0.044472  0.035027

**How does the data for claim videos and opinion videos compare or differ?**


We know that videos by banned authors and those under review tend to get far more views, likes, and shares than videos by non-banned authors. However, *when a video does get viewed*, its engagement rate is less related to author ban status and more related to its claim status.

Also, we know that claim videos have a higher view rate than opinion videos, but this tells us that claim videos also have a higher rate of likes on average, so they are more favorably received as well. Furthermore, they receive more engagement via comments and shares than opinion videos.

Note that for claim videos, banned authors have slightly higher likes/view and shares/view rates than active authors or those under review. However, for opinion videos, active authors and those under review both get higher engagement rates than banned authors in all categories.